body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-header {
    font-size: 50px;
    font-weight: normal;
    color: white;
}

.link {
    font-size: 16px;
    color: aquamarine;
}

.second-header {
    font-size: 42px;
    font-weight: 300;
    color: white;
}

.excursion {
    font-size: 21px;
    color: gray;
}